* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-image: url('assets/home/background.png');
  background-size: cover;
  background-attachment: fixed;  
}
/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}
/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;

  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: slategray;
  color: aliceblue;
}
.topnavimg{
    height: 24px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.side {
  width: 20%;
}

/* Middle column */
.column.middle {
  width: 60%;
  background-size: 100%;
  background-color: darkslategray;
  box-shadow: 0 10px 10px rgb(0 0 0 / 31%)
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

/* Style the footer */
.footer {
  background-color: darkslategray;
  padding: 5px;
  text-align: center;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color: lightgray;
    text-shadow: 2px 2px #381218; 
    font-size: 18px ;
    padding: 2% ;
    padding-left:5%;
    padding-right:5%;
    text-align: center;
    font-weight: bold;
}
p1{
    font-family: Arial, Helvetica, sans-serif;
    color: lightgray;
    text-shadow: 2px 2px #381218; 
    font-size: 14px ;
    padding-left:18%;
    padding-right:5%;
    text-align: center;
    font-weight: bold;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    color: lightgray;
    text-shadow: 2px 2px #381218; 
    padding: 2% ;
    text-align: center;
    font-weight: bold; 
    font-size: 35px;
}
a{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none; 
  color: aliceblue ;
    padding: 14px 16px;
}
.topimg{
    height: 18.5vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* Add a card effect for articles */
.card {
  background-color: #333;
  padding: 15px;
  margin-top: 1px;
  border-radius: 0.8vw
}
.cardimg{
    height:22vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.card:hover{
  background-color: slategray;
  color: aliceblue;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: white;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.gcontent {
  background-color: #333;
  padding: 10px;
}
.gcontent:hover {
  background-color: #333;
  padding: 10px;
    
      -webkit-transition: height 0.5s ease-out;
  -moz-transition: height 0.5s ease-out;
  -o-transition: height 0.5s ease-out;
  transition: height 0.5s ease-out;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .gcolumn {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .gcolumn {
    width: 100%;
  }
}
.grow {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.grow,
.grow > .gcolumn {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.gcolumn {
  float: left;
  width: 25%;
}
gp{
    font-family: Arial, Helvetica, sans-serif;
    color: lightgray;
    text-shadow: 2px 2px #381218; 
    font-size: 16px ;
    padding: 2% ;
    padding-left:5%;
    padding-right:5%;
    text-align: center;
    font-weight: bold;
}h3 {
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
  text-align: center;
  color: aliceblue
}
.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
.container:hover .overlay {
  opacity: 1;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}
.dis:hover{
  background-color: slategray;
  color: aliceblue;
}